@model DeckSorter.Request.CreateCardRequest

@{
                /**/

                ViewBag.Title = "Создание";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Карта</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.SelectedValueId, new { htmlAttributes = new { @class = "control-label" } })
            <div>
                @Html.DropDownListFor(m => m.SelectedValueId, Model.Values, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SelectedSuitId, new { htmlAttributes = new { @class = "control-label" } })
            <div>
                @Html.DropDownListFor(m => m.SelectedSuitId, Model.Suits, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку карт", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
