@model DeckSorter.Response.CardResponse

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы точно хотите удалить карту?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку карт", "Index")
        </div>
    }
</div>
