@model List<DeckSorter.Response.CardResponse>

@{
    ViewBag.Title = "Карты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Карты</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Ид
        </th>
        <th>
            Значение
        </th>
        <th>
            Масть
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuitTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueTitle)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
